/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.original
/.project
/.settings
/.vscode
/.idea
/.agent
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
!.gitkeep
.DS_Store
